<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>第一个ejs模板测试</title>
    <style>
        h1{
            color:red;
            text-align: center;
        }
        h3{
            text-align: center;
        }
    </style>
</head>
<body>
<h1><%=name%></h1>
<h3>这个月最爱吃</h3>
<h1><%= food %></h1>
</body>
</html>